{% assign _type = include.type | default: "list" %}

<div class="{{ _type }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">

    {% if _type == "grid" and post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser | relative_url }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {%- if post.company -%}
      <p class="archive__item-company">{{ post.company }}</p>
    {%- endif -%}

    {%- if post.role_dates -%}
      <p class="archive__item-dates">{{ post.role_dates }}</p>
    {%- endif -%}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
      </p>
    {% endif %}

  </article>
</div>

