<article class="archive__item">
  {% if include.type == "grid" and post.header.teaser %}
    <div class="archive__item-teaser">
      <img src="{{ post.header.teaser | relative_url }}" alt="">
    </div>
  {% endif %}

  <h2 class="archive__item-title">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>

  {% if post.company %}
    <p class="archive__item-company">
      {{ post.company }}
    </p>
  {% endif %}

  {% if post.role_dates %}
    <p class="archive__item-dates">
      {{ post.role_dates }}
    </p>
  {% endif %}

  {% if post.excerpt %}
    <p class="archive__item-excerpt">
      {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
    </p>
  {% endif %}
</article>
